body
{
	background: url("lyonf.jpg") no-repeat fixed;
	background-size:100% 100%;
	
}

a
{
	color:black;
}

a:hover
{
	color:black;
}

a:visited
{
	color:black;
}

#contenu
{
	border:2px;
	background: white;
	margin-left: 0%;
	margin-top: 30%;
	display: flex;
    justify-content: space-around;
    word-wrap: break-word;

}

aside
{
	margin-top:6%;
}

h2
{
	font-size:40px;
}

