body
{
	background: url("aircraft-airplane-aviation-615060.jpg") no-repeat fixed;
	background-size:100% 100%;
	
}

h1
{
	color: rgb(223, 242, 235);
}

section
{
	font-family:'Open Sans',sans-serif, "Arial Blanck", Impact, Verdana;
	margin-left: 45%;
	margin-top: 18%;
	width:100px;
}

@media all and (max-device-width: 480px)
{
    
}