body {
	background: url("../img/aircraft-airplane-aviation-615060.jpg")
		no-repeat fixed;
	background-size: 100% 100%;
}

#case {
	border: 2px;
	border-radius: 3px;
	background: white;
	margin-top: 15%;
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 33%;
	padding-top: 2%;
}

#refuse {
	color: white;
	background-color: red;
}

#refuse:hover {
	color: red;
	background-color: white;
}

#confirm {
	color: white;
	background-color: orange;
}

#confirm:hover {
	color: orange;
	background-color: white;
}

a {
	color: black;
}

a:hover {
	color: black;
}