#back{
		color: white;
		font-size:30px;
		 text-shadow: 0 0 20px #fdec84,
            10px -10px 30px #ffae35;
		
}
.custab{
         border: 1px solid #ccc;
         padding: 5px;
         margin: 5% 0;
         box-shadow: 3px 3px 2px #ccc;
         transition: 0.5s;
         }
         .custab:hover{
         box-shadow: 3px 3px 0px transparent;
         transition: 0.5s;
         }
}
