body {
    font-family: 'Helvetica', Sans-Serif;
    margin: 0px;
    background-image: url('../img/background_img.jpg');
    background-position: auto auto;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#container {
    text-align: center;
    margin: 50px;
    height: auto;
    font-weight: bold;
}

#login,.a {
    text-align: right;
    margin: 30px;
}

#login,.a a {
    font-size: 15px;
    color: #6e644b;
    text-decoration: underline;
}

#login,.a a: hover {
    cursor: pointer;
}

#container h1 {
    color: #6e644b;
    margin-top: 200px;
    font-weight: bold;
}

#btn_find_flight button {
    background-color: orange;
    width: 300px;
    margin: 100px auto auto auto;
    border-color: white;
    font-weight: bold;
}

#btn_find_flight button:hover {
    color: orange;
    background-color: white;
    border-color: orange;
}



