body {
	background: url("../img/aircraft-airplane-aviation-615060.jpg")
		no-repeat fixed;
	background-size: 100% 100%;
}

#list {
	/*border:2px;
	border-radius: 3px;*/
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
}

th {
	color: rgb(105, 105, 105);
	background-color: rgb(255, 255, 240);
}

td {
	color: rgb(105, 105, 105);
	background-color: rgb(255, 255, 240);
}

td:hover {
	color: rgb(255, 255, 240);
	background-color: rgb(105, 105, 105);
}

a {
	color: black;
}

a:hover {
	color: black;
}