body {
    font-family: 'Helvetica', Sans-Serif;
    margin: 0px;
    background-image: url('../img/54257940_256602285283452_5773594724921245696_n.jpg');
    background-position: auto auto;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
input{
         border: 1px solid #ccc;
         padding: 5px;
         margin: 0.5% 0;
         box-shadow: 1px 2px 2px #ccc;
         transition: 0.5s;
}

input:hover{
         box-shadow: 3px 3px 0px transparent;
           cursor: pointer;
         transition: 0.5s;
 }

 .input{
        size: 500px;
        position: relative;
        text-align: center;

 }

 #filter{
       display:none;
 }
 

